<%- include('templates/header')-%>

    <h1>Detail Berita</h1>
    <br>
    
            <img style="width: 20%;" src="/images/<%=berita.gambar%>" alt="<%=berita.gambar%>">
            <!-- <p class="card-text">gambar: <%=berita.gambar%></p>        -->
            <h2><%=berita.nama%></h2>
            <h6 class="card-subtitle mb-2 text-muted">berita Id: <%=berita.id%>
            </h6>
            <p class="card-text">isi: <%=berita.isi%></p>
           

            <br>
            <br>
            <div>
                <a href="/berita" class="btn btn-primary">Kembali</a>
                
            </div>


            <%- include('templates/footer')-%>